<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GDB</key>
	<string>广发银行</string>
	<key>CRCB</key>
	<string>重庆农村商业银行</string>
	<key>JSCB</key>
	<string>江苏银行</string>
	<key>TZB</key>
	<string>台州银行</string>
	<key>URCB</key>
	<string>杭州联合银行</string>
	<key>WZCB</key>
	<string>温州市商业银行</string>
	<key>UPOP</key>
	<string>银联在线支付</string>
	<key>SXJS</key>
	<string>晋城市商业银行</string>
	<key>SNXS</key>
	<string>深圳农村商业银行</string>
	<key>SHRCB</key>
	<string>上海农村商业银行</string>
	<key>NJCB</key>
	<string>南京银行</string>
	<key>NBCB</key>
	<string>宁波银行</string>
	<key>HSBANK</key>
	<string>徽商银行</string>
	<key>HKBCHINA</key>
	<string>汉口银行</string>
	<key>HCCB</key>
	<string>杭州银行</string>
	<key>GZCB</key>
	<string>广州市商业银行</string>
	<key>GNXS</key>
	<string>广州市农信社</string>
	<key>CZCB</key>
	<string>浙江稠州商业银行</string>
	<key>CZB</key>
	<string>浙商银行</string>
	<key>CSCB</key>
	<string>长沙银行</string>
	<key>CCQTGB</key>
	<string>重庆三峡银行</string>
	<key>CBHB</key>
	<string>渤海银行</string>
	<key>BOS</key>
	<string>上海银行</string>
	<key>BJRCB</key>
	<string>北京农商行</string>
	<key>BCCB</key>
	<string>北京银行</string>
	<key>BOC</key>
	<string>中国银行</string>
	<key>ABC</key>
	<string>农业银行</string>
	<key>CCB</key>
	<string>建设银行</string>
	<key>ICBC</key>
	<string>工商银行</string>
	<key>COMM</key>
	<string>交通银行</string>
	<key>CMB</key>
	<string>招商银行</string>
	<key>SPDB</key>
	<string>浦东发展银行</string>
	<key>CGB</key>
	<string>广发银行</string>
	<key>CITIC</key>
	<string>中信银行</string>
	<key>CEB</key>
	<string>光大银行</string>
	<key>CIB</key>
	<string>兴业银行</string>
	<key>CMBC</key>
	<string>民生银行</string>
	<key>HXB</key>
	<string>华夏银行</string>
	<key>SZPAB</key>
	<string>平安银行</string>
	<key>PSBC</key>
	<string>中国邮储银行</string>
</dict>
</plist>
