<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>InvestmentRecoed_Assets</string>
		<key>title</key>
		<string>投资记录</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Collection_Assets</string>
		<key>title</key>
		<string>待收明细</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Withdraw_Assets</string>
		<key>title</key>
		<string>资金明细</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Recharge_Assets</string>
		<key>title</key>
		<string>我的银行卡</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Record_Assets</string>
		<key>title</key>
		<string>债权转让</string>
	</dict>
	<dict>
		<key>image</key>
		<string>MyBank_Assets</string>
		<key>title</key>
		<string>邀请送红包</string>
	</dict>
	<dict>
		<key>image</key>
		<string>tender_Assets</string>
		<key>title</key>
		<string>我的红包</string>
	</dict>
	<dict>
		<key>image</key>
		<string>FinancialPlanner</string>
		<key>title</key>
		<string>理财师</string>
	</dict>
	<dict>
		<key>image</key>
		<string>setting_Assets</string>
		<key>title</key>
		<string>账户设置</string>
	</dict>
	<dict>
		<key>image</key>
		<string>signIn</string>
		<key>title</key>
		<string>每日签到</string>
	</dict>
	<dict>
		<key>image</key>
		<string>onLineKeFu_btn</string>
		<key>title</key>
		<string>在线客服</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ClickIntegralShake</string>
		<key>title</key>
		<string>积分兑换</string>
	</dict>
</array>
</plist>
